<script type="text/javascript">
    $(function () {
        bodyclick = document.getElementsByTagName('body').item(0);
        init('main');
        rSelects();
        bodyclick.onclick = function () {
            for (i = 0; i < selects.length; i++) {
                $('#select_info_' + selects[i].name).attr("class", "tag_select");
                $('#boxul_' + selects[i].name).css("display", "none");
            }
        }


        if ('@ViewData["Msg"]' != "") {
            $('#ui-dialog').html('@ViewData["Msg"]');
            $('#ui-dialog').dialog({
                show: "explode",
                hide: "explode",
                resizable: false,
                title: "提示"
            });
        }
    })

    function startQuery() {
        $("#SearchStuForm").submit();
    }
</script>
<div id="PartailSeachStu">
    @using (Ajax.BeginForm("StuReSignUp", "Apply", null,
new AjaxOptions
{
    UpdateTargetId = "SearchStuResult",
    HttpMethod = "GET",
}, new { id = "SearchStuForm" }))
    {
        <table cellpadding="5px" cellspacing="5px" border="0px">
            <tr>
                <td>
                    学号:
                </td>
                <td>
                    <div class="input">
                        @Html.TextBox("SearchUserNum")
                    </div>
                </td>
                <td rowspan="6" width="50px">
                </td>
                <td>
                    年份:
                </td>
                <td>
                    <div class="uboxstyle">
                        @Html.DropDownList("SearchYear", ViewData["year"] as SelectList)
                    </div>
                </td>
                <td rowspan="6" width="50px">
                </td>
                <td>
                    <div class="button">
                        <a href="#"><span onclick="startQuery();">查询</span></a>
                    </div>
                </td>
            </tr>
        </table>
    }
</div>
<div id="SearchStuResult">
</div>
