@charset "utf-8";
/* CSS Document */
body{
    background-color:#204C8E;
	padding:0px;
	margin:0px;
}
.center{
    background:url(../images/login_bg.png) no-repeat;
	width:940px;
	height:580px;
	margin:0px auto;
	padding-top:25px;
}
.login{ 
    width:418px;
	height:81px;
	background:url(../images/login.png) no-repeat;
	position:relative;
	margin-top:0px;
	margin-left:210px;
}
.box{
    position:relative;
}
.box_left{
    float:left;
	background:url(../images/login2.png);
	width:268px;
	height:104px;
	position:relative;
	margin-left:170px;
	margin-top:100px;
}
.box_left span{
	font-size:12px;
	color:#8b8b8b;
	display:block;
	text-align:right;
	margin-top:65px;
	padding-right:14px;
	letter-spacing:0.4em;
}
.box_right{
    float:right;
	color:#11449E;
	font-size:13px;
	font-family:ו,Arial, Helvetica, sans-serif;
	margin-right:40px;
	margin-top:100px;
}

.input{
    background:url(../images/login_input.png) no-repeat;
	width:216px;
	border:none;
	height:30px;
	color:#0F4D74;
	line-height:27px;
	padding-left:10px;
}
.button{
    background:url(../images/login_botton.png) no-repeat;
	width:216px;
	height:37px;
	padding-top:11px;
}
.button a{
    color:#FFFFFF;
	text-decoration:none;
	font-size:14px;
	letter-spacing:1em;
	padding-left:35px;
}
.button a:hover{
    color:#DD7518;
}
.contention{
    color:#FF0000;
}
.footer{
    text-align:center;
	font-size:12px;
	clear:both;
	color:#999999;
	position:relative;
	top:150px;
}