

<ul>
    <li id="Notice" myurl="/Notice/NoticeStu" replacetarget="con0">通知公告</li>
    <li id="UpdateStu" myurl="/Student/StuInfo" replacetarget="con1">学生信息</li>
    <li id="Password" myurl="/Student/StuChangePassword" replacetarget="con2">修改密码</li>
    <li id="Apply" myurl="/Apply/StuApply" replacetarget="con3">转专业报名</li>
    <li id="Print" myurl="/Apply/Print" replacetarget="con4">打印</li>
</ul>
