@{var id = ViewData["UserID"].ToString();}
<ul>
    <li id="Notice" myurl="/Notice/Notice" replacetarget="con0">通知公告</li>
    <li id="NoticeAdd" myurl="/Notice/AddNotice" replacetarget="con1">增加公告 </li>
    <li id="Stu" myurl="/Student/GetYear" replacetarget="con2">学生数据</li>
    <li id="Major" myurl="/Major/GetYear" replacetarget="con3">专业数据</li>
    <li id="Apply" myurl="/Collect/Collect" replacetarget="con4">报名汇总 </li>
    <li id="UpdateStu" myurl="/Student/StuManage" replacetarget="con5">学生管理 </li>
    <li id="Start" myurl="/Start/StartApply" replacetarget="con6">发起报名</li>
    <li id="MajorManage" myurl="/Major/MajorManage" replacetarget="con7">专业管理</li>
</ul>
