@model ChangingMajorsManagementSystem.Models.StuChangePasswordModel
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: 'POST',
            url: '/Student/StuQueryPasswordTable',
            data: {},
            success: function (data) {
                $("#stuQueryPassword,#StuQueryPassword").html(data);
            }
        });
    });

    function submitvalue() {
        $("#PasswordFrom").submit();
    }

</script>
<div id="_stuQueryPassword">
    @using (Ajax.BeginForm("StuQueryPasswordTable", "Student", null, new AjaxOptions
    {
        UpdateTargetId = "stuQueryPassword",
        HttpMethod = "POST"
    }, new { id = "PasswordFrom" }))
    { 
        <table cellpadding="5px" cellspacing="5px" border="0px">
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.UserNum)
                </td>
                <td>
                    <div class="input">@Html.TextBoxFor(Model => Model.UserNum)
                    </div>
                </td>
                <td>@Html.LabelFor(Model => Model.UserName)
                </td>
                <td>
                    <div class="input">@Html.TextBoxFor(Model => Model.UserName)</div>
                </td>
                <td>
                    <div class="button">
                        <a href="#" onclick="submitvalue()"><span>搜索</span></a></div>
                </td>
            </tr>
        </table>
    }
</div>
<div id="stuQueryPassword">
</div>
